<a href="https://colab.research.google.com/github/ddiaz1999/Taller2_IA/blob/main/Taller2_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import prettytable
import os
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
pd.set_option('display.max_rows', None)
import datetime
from plotly.subplots import make_subplots

In [ ]:
#/content/drive/My Drive/TALLER 2 IA/dataset
path = '/content/drive/My Drive/TALLER 2 IA/dataset'
for dirname, _, filenames in os.walk(path):
  print(dirname)
  for file in filenames:
    print(os.path.join(path,file))


path_crime = '/content/drive/My Drive/TALLER 2 IA/dataset/crime.csv'

data = pd.read_csv(path_crime,encoding = 'latin')
data.head()
data.describe()

/content/drive/My Drive/TALLER 2 IA/dataset
/content/drive/My Drive/TALLER 2 IA/dataset/offense_codes (1).csv
/content/drive/My Drive/TALLER 2 IA/dataset/crime.csv

        OFFENSE_CODE           YEAR  ...            Lat           Long
count  319073.000000  319073.000000  ...  299074.000000  299074.000000
mean     2317.546956    2016.560586  ...      42.214381     -70.908272
std      1185.285543       0.996344  ...       2.159766       3.493618
min       111.000000    2015.000000  ...      -1.000000     -71.178674
25%      1001.000000    2016.000000  ...      42.297442     -71.097135
50%      2907.000000    2017.000000  ...      42.325538     -71.077524
75%      3201.000000    2017.000000  ...      42.348624     -71.062467
max      3831.000000    2018.000000  ...      42.395042      -1.000000

[8 rows x 6 columns]

In [ ]:
def treemap(categories,title,path,values):
    fig = px.treemap(categories, path=path, values=values, height=700,title=title, color_discrete_sequence = px.colors.sequential.RdBu)
    fig.data[0].textinfo = 'label+text+value'
    fig.show()

In [ ]:
Number_crimes = data['OFFENSE_CODE_GROUP'].value_counts()
values = Number_crimes.values
categories = pd.DataFrame(data=Number_crimes.index, columns=["OFFENSE_CODE_GROUP"])
categories['values'] = values

treemap(categories,'Major Crimes in Boston',['OFFENSE_CODE_GROUP'],categories['values'])

TypeError: ignored